.navbar-brand {
  font-family: 'ccbiffbamboom', sans-serif;
  font-size: 1.2em;
}
.nav-item,
.nav-link {
  color: #fff;
  font-family: 'ccbiffbamboom', sans-serif;
}
h1 {
  font-family: 'ccbiffbamboom', sans-serif;
  color: #fff;
}
p {
  font-family: 'Kohinor Devanagari', sans-serif;
}
/*IMAGE HOVER EFFECTS - FADE*/
.container2 {
  position: relative;
  width: 50%;
}
.image2 {
  display: block;
  width: 100%;
  height: auto;
}
.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .6s ease;
  background-color: #f25b24;
}
.container2:hover .overlay2 {
  opacity: 1;
}
.text2 {
  color: white;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.menu {
  max-width: 70%;
}
.about {
  background-image: url(../images/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.about-text {
  font-size: 1.3em;
  color: #fff;
}
.hearts {
  max-width: 200px;
}
footer {
  background-image: url("../images/footer1.png");
  background-repeat: repeat;
  background-size: contain;
  color: #ffffff;
}
footer .blueCar {
  max-width: 300px;
}
footer .footerText {
  padding: 5% 15%;
}
footer .icon {
  min-width: 75px;
  max-width: 90px;
  padding: 2%;
}
footer .footer-icons {
  padding-top: 5%;
  padding-right: 5%;
}
/*!
 * animate.css -https://daneden.github.io/animate.css/
 * Version - 3.7.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2019 Daniel Eden
 */
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
