@import "variables";

@font-face {
font-family: "Kohinoor";
src: url("../fonts/KohinoorRegular.otf") format("trutype");
}

//Header
.navbar-brand {
  font-family: @heading-font;
  font-size: 2rem;
  .textShadow();
}

.nav-item,
.nav-link {
  color: #fff;
  font-family: @heading-font;
  .textShadow();
}

.navbar-brand img {
  .imgShadow();
}

//Main
h1 {
  font-family: @heading-font;
  color: #fff;
}

p {
  font-family: "Kohinoor", sans-serif;
}

h2 {
  font-family: "Chalkduster", sans-serif;
  color: @green-tertiary;
  font-size: 2em;
}

h4 {
  font-family: "Kohinoor", sans-serif;
}

/*IMAGE HOVER EFFECTS - FADE*/
.container2 {
  position: relative;
  width: 50%;
}

.image2 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .6s ease;
  background-color: @orange-primary;
}

.container2:hover .overlay2 {
  opacity: 1;
}

.text2 {
  color: white;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


//menu html
.menu {
  max-width: 70%;
}

//About page
.about {
  background-image: url(../images/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 5%;
  padding-bottom: 10%;
}

.about-text {
  font-size: 1.3em;
  color: #fff;
}

.hearts {
  max-width: 200px;
}

//contact page
.contact {
  background-image: url("../images/parkingLot.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

span {
  color: @green-primary;
  font-weight: bold;
}

.contact-text {
  background-color: @green-tertiary;
  opacity: .9;
  padding: 2%;
}

//Services page
.services {
  background-image: url("../images/services.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.lse {
  max-width: 250px;
}
//Footer
footer {
  background-image: url("../images/footer1.png");
  background-repeat: repeat;
  background-size: contain;
  //display: flex;
  //flex-direction: row-reverse;
  color: #ffffff;
  position: relative;
  z-index: 1000000000;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.75);
  .blueCar {
    max-width: 300px;
    .imgShadow();
  }
  .footerText {
    padding-top: 10%;
  }
  .icon {
    min-width: 75px;
    max-width: 90px;
    padding: 2%;
  }
  .footer-icons {
    padding-top: 15%;
    .imgShadow();
  }

  h1,h4{
    .textShadow();
  };
}

/*!
 * animate.css -https://daneden.github.io/animate.css/
 * Version - 3.7.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2019 Daniel Eden
 */

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
